.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #11bae4;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
.container {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    padding-top: 15px;
    background-color: lightblue;
}
.center {
    text-align: center;
    padding-top: 20px;
}
.information {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    padding-top: 15px;
    padding-top: 10px;
    padding-right: 10%;
    padding-left: 10%;
}
li {
    text-align: left;
    
}
.engagement {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}